####################################################
# Default reviewers for this repository
####################################################
#
# Learn about CODEOWNERS format:
# https://help.github.com/en/articles/about-code-owners
#

# These owners will be the default owners for everything in
# the repository. Unless a later match takes precedence,
# the following users/teams will be requested for
# review when someone opens a pull request.
* @angela-tarantula

# Stronger protection for CI.
.github/workflows/* @angela-tarantula
.github/linters/* @angela-tarantula

# Enforce admin protections for repository configuration managed by probot/settings.
# Ref: https://github.com/probot/settings#security-implications
.github/CODEOWNERS @angela-tarantula
.github/settings.yml @angela-tarantula
